/* @font-face {
  font-family: 'NerkoOne';
  src: url('/fonts/NerkoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

html, body {
  padding: 0px;
  margin: 0px;
}

.titulo {
  h1 {
    color: red;
  }
}